environments{

    default{
            url.prueba = "https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"
    }

    dev{
        url.prueba = "https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"
    }

    cert{
        url.prueba = "https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"
    }



}